<div class="container-fluid">
    <div class="row search-bar">
        <div class="col-lg-4 col-lg-offset-6">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="list-group-active col-lg-8 col-lg-offset-2">
            <a href="https://github.com/{{name.login}}" class="list-group-item" *ngFor="let name of names"

               align="left"><img
                    src="https://avatars0.githubusercontent.com/u/{{name.id}}?v=4" height="50px"> {{name.login}} </a>
        </div>
    </div>

    <nav aria-label align="center">
        <ul class="pager">
            <button class="btn btn-default" (click)="previous()">Previous</button>
            <button class="btn btn-default" (click)="next()">Next</button>
        </ul>
    </nav>
</div>
